.news-letter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 120px;
    margin-bottom: 150px;
    gap: 30px;
    background: linear-gradient(180deg, #e1f4ff 0%, #e1ffea22 60%);
    border-radius: 10px;
}

.news-letter h1 {
    color: #000000;
    font-size: 50px;
    font-weight: 600;
}

.news-letter p {
    color: #454545;
    font-size: 20px;
}

.news-letter .container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 730px;
    height: 70px;
    border-radius: 70px;
    border: 1px solid #e3e3e3;
}

.news-letter .container input {
    width: 500px;
    height: 100%;
    color: #616161;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0 0 0 30px;
    border-radius: 70px;
}

.news-letter button {
    height: 100%;
    width: 200px;
    border-radius: 47px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color: red;
    cursor: pointer;
}

.news-letter button:active {
    background-color: #cb0000;
}



/* Start Responsive */



@media (max-width: 1400px) {

    .news-letter {
        width: 80%;
        height: 34vh;
        gap: 23px;
        padding: 0 40px;
    }

    .news-letter h1 {
        font-size: 45px;
    }

    .news-letter .container {
        width: 660px;
        height: 65px;
    }

}

@media (max-width: 999px) {

    .news-letter {
        width: 80%;
        height: 34vh;
        gap: 23px;
        padding: 0 30px;
    }

    .news-letter h1 {
        font-size: 30px;
    }

    .news-letter p {
        color: #454545;
        font-size: 18px;
    }

    .news-letter .container {
        width: 70%;
        height: 50px;
    }

    .news-letter .container input {
        font-size: 15px;
    }

    .news-letter button {
        font-size: 18px;
    }

}

@media (max-width: 700px) {

    .news-letter {
        width: 95%;
        height: 30vh;
        gap: 23px;
        padding: 0px 0px;
    }

    .news-letter h1 {
        font-size: 20px;
    }

    .news-letter p {
        font-size: 16px;
    }

    .news-letter .container {
        width: 290px;
        height: 40px;
    }

    .news-letter .container input {
        font-size: 13px;
    }

    .news-letter button {
        font-size: 12px;
    }

}

@media (max-width: 400px) {

    .news-letter {
        width: 95%;
        height: 30vh;
        gap: 23px;
        padding: 0px 0px;
    }

    .news-letter h1 {
        font-size: 20px;
        text-align: center;
    }

    .news-letter p {
        font-size: 12px;
    }

    .news-letter .container {
        width: 90%;
        height: 35px;
    }

    .news-letter .container input {
        font-size: 10px;
        padding: 0 0 0 15px;
        width: 100%;
    }

    .news-letter button {
        font-size: 10px;
        width: 120px;
    }

}


/* End Responsive */